

:root{

  /** CSS PRIMARY COLORS */
  --teal: #17A5BA;
  --teal1: #169db0;
  --teal2: #10707e;
  --teal3: #09434c;
  --teal4: #031619;
  --teal5: #051521;
      
   /** CSS SECONDARY COLORS */
  --blue: #233572;
  --blue2: #141e41;   
      
  /** CSS SEMANTIC COLORS */
  --danger: #b41c2b;
  --success: #009f42;
  --warning: #cc8800;
  --info: #388cfa;
      
  /** CSS NEUTRAL COLORS */
  --white: #ffffff;
  --white1: #c6c6c6;
  --grey: #919191;
  --grey1: #5e5e5e;
  --darkgrey: #303030;
  --black: #090909;
  --bg:#01090a;
  /*--bg:#000407;*/
  --p: #afafaf;
  
  /*--icon: #68A5A0;*/
  
  }
  
  
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
  pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
  s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
  figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clearfix {
    display: inline-block;
  }
  
  html[xmlns] .clearfix {
    display: block;
  }
  
  * html .clearfix {
    height: 1%;
  }
  
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  header, nav, section, article, aside, footer, hgroup {
    display: block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body{
      font-family: 'Lexend', sans-serif;
  }
  
  html, body {
  
    font-weight: 400;
    background-color: var(--bg);
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    color: var(--teal);
    text-decoration: none;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  ul {
    margin-bottom: 0px;
  }
  
  p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #afafaf;
  }
  
  img {
    width: 100%;
    overflow: hidden;
  }
  
  
  /* 
  ---------------------------------------------
  global styles
  --------------------------------------------- 
  */
  
  
  @media (max-width: 991px) {
    html, body {
      overflow-x: hidden;
    }
    .mobile-top-fix {
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .mobile-bottom-fix {
      margin-bottom: 30px;
    }
    .mobile-bottom-fix-big {
      margin-bottom: 60px;
    }
  }
  
  .page-section {
    margin-top: 120px;
  }
  
  .section-heading {
    position: relative;
    z-index: 2;
  }
  
  .section-heading h6 {
    font-size: 15px;
    font-weight: 700;
    color: var(--teal2);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .section-heading h4 {
    color: var(--white);
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
  
  .section-heading h4 em {
    font-style:italic;
    color: var(--teal);
    font-weight: 800;
      
  }
  
  .line-dec {
      margin-bottom: 20px;
  }
  .section-heading .line-dec {
    width: 50px;
    height: 2px;
      margin-bottom: 20px;
    background-color: var(--teal);
  }
  
  .border-first-button a {
    display: inline-block !important;
    color: #fff;
    padding: 10px 20px !important;
  /*  background-color:  #17A5BA !important;*/
    border: 1px solid #fff !important;
    border-radius: 5px;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .5s;
      font-size: 14px;
  }
  
  .border-first-button a:hover {
    background-color: #17A5BA;
      border-color: var(--teal);
    color: #fff !important;
  }
  
  
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--bg);
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 10px solid var(--teal);
    border-top-color: var(--bg);
    border-bottom-color: var(--bg);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: animate-preloader 1s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 105px;
    bottom: 30px;
    z-index: 996;
    background: var(--teal);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: var(--teal2);
    color: var(--white);
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    background: var();
    transition: all 0.5s;
    z-index: 1000;
    position: relative;
    height: 100px;
  }
  
  @media (max-width: 992px) {
    #header {
      height: 80px;
    }
  }
  
  
  #header.fixed-top,
  #header.header-inner-pages {
      background: var(--bg);
      opacity: 0.96;
  /*    backdrop-filter: blur(5px);*/
      box-shadow: 0 1px 10px var(--teal3);
  }
  
  #header.fixed-top {
    position: fixed;
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  /*
  #header .logo img {
    max-height: 70px;
      height: auto;
      max-width: 100%;
  }
  */
  
  .scrolled-offset {
    margin-top: 70px;
  }
  
  @media (max-width: 991px) {
    .scrolled-offset {
      margin-top: 80px;
    }
  }
  
  @supports (-webkit-overflow-scrolling: touch) {
      #header .logo img {
           max-height: 70px;
  /*        height: auto;*/
          max-width: 70px;
  }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      #header .logo img {
          max-height: 70px;
  /*        height: auto;*/
          max-width: 70px;
      }
  }
  
      
      
      
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 12px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
    color: white;
    position: relative;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0;
    background-color: var(--teal);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 12px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--teal3);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: var(--white);
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--teal);
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: rgba(5, 21, 33, 0.6);
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--white);
  }
  
  .navbar-mobile>ul>li {
    padding: 0;
  }
  
  .navbar-mobile a:hover:before,
  .navbar-mobile li:hover>a:before,
  .navbar-mobile .active:before {
    visibility: hidden;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: var(--teal);
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background-color: var(--teal4);
    box-shadow: 0px 0px 0px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
      color: var(--white);
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: var(--teal);
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg2.png") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -100px;
  }
  
  @media (max-width: 992px) {
    #hero {
      margin-bottom: -80px;
    }
  }
  
  #hero:before {
    content: "";
    background: linear-gradient(rgba(5, 21, 33, 0.1) 0%, rgba(5, 21, 33, 0.3) 30%, rgba(5, 21, 33, .4) 40%, rgba(5, 21, 33,  0.5) 76%, rgba(5, 21, 33, 0.5) 94%, rgba(5, 21, 33, 0.5) 100%) repeat scroll 0% 0%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #hero img{
      max-width: 150px;
      margin-bottom: 100px;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--white);
  }
  
  #hero h2 {
    color: var(--p);
      max-width: 45%;
    margin: 25px 0 0 0;
    font-size: 18px;
    font-weight: 400;
      line-height: 1.5;
  }
  
  #hero .btn-get-started {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    border: 1px solid var(--white);
    color: var(--white);
  }
  
  
  #hero .btn-get-started:hover {
    background: var(--teal1);
    border: 2px solid var(--white);
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
      #hero img{
      margin-top: -80px;
      margin-bottom: 100px;
  }
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
      text-shadow: 0px 0px 20px #000000;
    }
  
    #hero h2 {
        max-width: 80%;
      font-size: 16px;
      line-height: 24px;
    }
      #hero .btn-get-started {
          font-size: 14px;
      }
  }
  
  
  /* 
  ---------------------------------------------
  Banner Style
  --------------------------------------------- 
  */
  
  .main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0px 10px 0px;
    position: relative;
    overflow: hidden;
  }
  
  .main-banner:after {
    content: '';
    background-image: url(../img/slider-left-dec1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  
  .main-banner:before {
    content: '';
  /*  background-image: url(../img/slider-right-dec1.png);*/
    background-repeat: no-repeat;
    position: absolute;
    right: -150px;
    top: 0px;
    width: 1159px;
    height: 797px;
    z-index: -1;
  }
  .main-banner .row{
      position: relative;
      z-index: 100;
  } 
  
  .main-banner .left-content {
    margin-right: 15px;
  }
  
  .main-banner .left-content h6 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    color: #17A5BA;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .main-banner .left-content h2 {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
  /*    opacity: 0.8;*/
    margin-bottom: 20px;
  }
  
  .main-banner .left-content p {
    margin-bottom: 30px;
  /*  margin-right: 45px;*/
  }
  
  .main-banner .animated{
      animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  
  .main-banner .right-image {
    text-align: right;
    position: relative;
    z-index: 20;
  }
  
  .main-banner .right-image img {
  /*    height: 60vh;*/
  /*    width: auto;*/
    max-width: 600px;
  }
  
  
  
  /*
  ---------------------------------------------
  About Us
  ---------------------------------------------
  */
  
  .about-us {
    text-align: center;
    padding-top: 130px;
    position: relative;
  }
  
  .about-us .section-heading {
  /*  margin-bottom: 25px;*/
      text-align: center;
  }
  
  .about-us .section-heading,
  .about-us .box-item,
  .about-us p,
  .about-us .box-item .gradient-button,
  .about-us .box-item span {
    position: relative;
    z-index: 100;
   
  }
  
  .about-us .box-item {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.07);
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 5px 25px 5px 5px;
    margin-bottom: 30px;
    border: 1px var(--teal) solid;
    opacity: 0.6;
    transition: all .3s;
  
  }
  
  .about-us .box-item:hover{
      background-color: var(--teal);
       opacity: 1;
  }
  
  .about-us .box-item h4 a {
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
    color: var(--teal);
    transition: all .3s;
  }
  
  .about-us .box-item p {
    margin-bottom: 0px;
  }
  
  .about-us .box-item:hover h4 a {
    color: var(--white);
  }
  
  .about-us .gradient-button {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  
  .about-us .right-image {
    position: relative;
    z-index: 1;
  }
  
  .about-us:before {
    background-image: url(../img/slider-right-dec1.png);
    width: 1080px;
    height: 740px;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    left: -150px;
    top: 30%;
    transform: translateY(-30%);
    z-index: 0;
  }
  
  .about-us:after {
    background-image: url(../img/about-bg.png);
    width: 700px;
    height: 740px;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  
  
  /* 
  ---------------------------------------------
  Features Style
  --------------------------------------------- 
  */
  #features {
    padding: 130px 0px;
    position: relative;
   text-align: center;
  }
  #features .section-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  #features .section-heading .line-dec {
    margin: 0 auto;
  }
  #features .section-heading p {
    margin-top: 10px;
      max-width: 90%;
      margin: 0 auto;
  
  }
  
  #features .icon-boxes {
    margin-top: 100px;
  }
  
  #features .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
  /*  background-color: rgba(30, 56, 74, 0.2);*/
    background-color: rgba(9, 67, 76, 0.2);
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
      margin-bottom: 30px;
  }
  
  #features .icon-box .title {
    font-weight: 700;
    
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #features .icon-box .title a {
    color: var(--white);
    transition: 0.3s;
  }
  
  #features .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  #features .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: var(--teal);
  }
  
  #features .icon-box:hover {
      transform: scale(1.05);
      border: 1px var(--teal1) solid;
      background-color: rgba(9, 67, 76, 0.4);
  /*    box-shadow: 0 0 5px var(--teal);*/
  }
  
  #features .icon-box:hover .title a {
    color: var(--teal);
  }
  
  #features .icon-boxes{
      z-index: 1000;
  } 
  
  @media (min-width: 1024px) {
    #features {
      background-attachment: fixed;
    }
  }
  
  @media (max-height: 800px) {
    #features {
      height: auto;
    }
  }
  
  @media (max-width: 992px) {
    #features {
      height: auto;
    }
  
  }
  
  
  
  /* 
  ---------------------------------------------
  Benefits Style
  --------------------------------------------- 
  */
  
  .benefits {
    padding-top: 200px;
    position: relative;
   text-align: center;
      z-index: 100;
  }
  .benefits .section-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  .benefits .section-heading .line-dec {
    margin: 0 auto;
  }
  .benefits  .section-heading p {
    margin-top: 10px;
    max-width: 90%;
      margin: 0 auto;
  }
  .benefits .container-fluid {
    padding-left: 65px;
    padding-right: 65px;
  }
  
  .benefits:after {
    content: '';
    background-image: url(../img/benefits-left-dec.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 500px;
    bottom: 350px;
    width: 361px;
    height: 368px;
    z-index: 0;
  }
  
  .benefits:before {
    content: '';
  /*  background-image: url(../img/services-left-dec.png);  background-repeat: no-repeat;*/
    position: absolute;
    right: 0;
    top: 0;
    width: 1136px;
    height: 244px;
    z-index: 0;
  }
  
  .benefits-item {
    position: relative;
    z-index: 1;
    padding: 30px;
    height: 300px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    background-color: rgba(30, 56, 74, 0.2);
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: all .3s;
  }
  
  .benefits-item .icon {
    margin: 0 auto;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    transition: all .3s;
  }
  
  .benefits-item h4 {
    transition: all .3s;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--white);
  }
  
  .benefits-item p {
    transition: all .3s;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .benefits-item:hover h4,
  .benefits-item:hover p,
  .benefits-item:hover .text-button a {
    color: #fff;
  }
  
  .first-benefits .icon {
    background-image: url(../img/benefits/insights_teal.png);
  }
  
  .first-benefits:hover .icon {
    background-image: url(../img/benefits/insights_black.png);
  }
  
  .second-benefits .icon {
    background-image: url(../img/benefits/savings_teal.png);
  }
  
  .second-benefits:hover .icon {
    background-image: url(../img/benefits/savings_black.png);
  }
  
  
  .third-benefits .icon {
    background-image: url(../img/benefits/productivity_teal.png);
  }
  
  .third-benefits:hover .icon {
    background-image: url(../img/benefits/productivity_black.png);
  }
  
  .fourth-benefits .icon {
    background-image: url(../img/benefits/security_teal.png);
  }
  
  .fourth-benefits:hover .icon {
    background-image: url(../img/benefits/security_black.png);
  }
  
  .benefits-item:hover {
    background-image: url(../img/service-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  /*--------------------------------------------------------------
  # Modules Section
  --------------------------------------------------------------*/
  .modules{
      padding-top: 150px;
      text-align: center;
  }
  .modules .section-heading p {
      margin-top: 10px;
    max-width: 90%;
      margin: 0 auto;
  }
  
  .modules .section-heading {
    margin-bottom: 40px;
  }
  
  .modules .icon-box {
    display: flex;
  /*    justify-content: center;*/
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(30, 56, 74, 0.2);
    transition: ease-in-out 0.2s;
    border-radius: 10px;
  /*  border-top-right-radius: 30px;*/
  }
  .modules .icon-box:hover {
      background-color: #172732;
      box-shadow: 0 0 5px var(--teal);
  
  }
  
  .modules .icon-box i {
    font-size: 32px;
    padding-right: 20px;
    line-height: 1;
  }
  
  .modules .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    color: var(--p);
  }
  
  .modules .section-heading,
  .modules .icon-item,
  .modules p,
  .modules .icon-item .gradient-button,
  .modules .row {
    position: relative;
    z-index: 1;
   
  }
  
  .modules:after {
    background-image: url(../img/about-bg.png);
    width: 700px;
    height: 800px;
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    top: 70%;
    transform: translateY(350%);
    z-index: 0;
  }
  .modules:before {
    content: '';
    background-image: url(../img/module_left.png);
    background-repeat: no-repeat;
    position: absolute;
  /*    transform: rotate(-20deg);*/
    left: 0px;
    top: 4000px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  /*--------------------------------------------------------------
  # whyaurivue Section
  --------------------------------------------------------------*/
  .whyaurivue{
      padding-top: 150px;
  }
  .whyaurivue  .section-heading p {
      margin-top: 10px;
    max-width: 75%;
      margin: 0 auto;
  }
  
  .whyaurivue .section-heading {
    margin-bottom: 40px;
    text-align: center;
  
  }
  .whyaurivue .nav-tabs {
      justify-content: center;
      display: flex;
      border: 0;
      margin-bottom: 50px;
  }
  
  .whyaurivue .nav-link {
    border: 1px solid #b5ccdb;
  /*  padding: 15px;*/
    transition: 0.3s;
    color: #fff;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whyaurivue .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .whyaurivue .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .whyaurivue .tab-pane{
     max-width: 1200px;
      margin: 0 auto;
  }
  .whyaurivue .tab-pane img{
      max-width: 90%;
  }
  .whyaurivue .tab-pane h3 {
      color: var(--teal);
      margin-bottom: 20px;
  }
  .whyaurivue .tab-pane ul li {
      color: var(--p);
  }
  
  .whyaurivue .nav-link:hover {
    color: var(--teal);
  }
  
  .whyaurivue .nav-link.active {
    background: var(--teal);
    color: var(--white);
    border-color: var(--teal);
  }
  
  @media (max-width: 768px) {
    .whyaurivue .nav-link i {
        padding: 0;
        margin: 0;
      line-height: 1;
      font-size: 36px;
    }
      .whyaurivue .tab-pane img{
      max-width: 100%;
  }
  
  }
  
  @media (max-width: 575px) {
    .whyaurivue .nav-link {
      padding: 15px;
    }
  
    .whyaurivue .nav-link i {
      font-size: 24px;
        padding: 0;
    }
  }
  
  .whyaurivue .tab-content {
    margin-top: 30px;
  }
  
  .whyaurivue .tab-pane h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .whyaurivue .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .whyaurivue .tab-pane ul li {
    padding-bottom: 10px;
  }
  
  .whyaurivue .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--teal);
  }
  
  .whyaurivue .tab-pane p:last-child {
    margin-bottom: 0;
  }
  
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact {
    padding-top: 130px;
  }
  .contact .section-heading p{
      max-width: 75%;
      margin: 0 auto;
  }
  .contact .section-heading .line-dec {
    margin: 0 auto;
  }
  
  .contact .section-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  .contact .info {
    width: 100%;
  /*  background: #060E15;*/
  }
  
  .contact .info i {
    font-size: 20px;
    color: var(--teal);
    float: left;
    width: 44px;
    height: 44px;
    background: var(--teal4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--white);
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--p);
  }
  
  .form-control{
      border: 0.1px var(--grey) solid;
  }
  .form-control::placeholder{
      color: var(--grey);
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: var(--teal);
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
  /*  background: var(--teal4);*/
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: var(--teal);
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
      color: var(--white);
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--teal);
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea{
     background: rgba(255, 255, 255, 0.05);
  }
  
  .contact .php-email-form input {
    height: 44px;
  
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: var(--teal);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: var(--teal2);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* 
  ---------------------------------------------
  Footer Style
  --------------------------------------------- 
  */
  
  
  #footer {
    background-image:url("../img/hero-bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    position: relative;
    margin-top: 130px;
  }
  
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(2, 0, 2, 0.6);
    z-index: 1;
  }
  #footer{
      box-shadow: 10px 10px 55px 52px #01090E;
  }
  
  #footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 30px 0px 30px 0px;
  }
  
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "lexend", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  #footer .footer-top p {
    font-size: 15px;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
  }
  
  #footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
  }
  
  #footer .footer-top .footer-newsletter form {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.05);
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    color: var(--white);
    background: rgba(255, 255, 255, 0);
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--teal);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: var(--teal2);
  }
  
  #footer .footer-top .social-links {
    margin-top: 30px;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #17A5BA;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-bottom {
    margin: 0 auto;
    border-top: 1px solid var(--teal);
    z-index: 2;
    position: relative;
  /*  max-width: 1280px;*/
    padding: 40px 200px;
    
  }
  
  #footer .copyright {
    float: left;
  }
  
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  @media (max-width: 992px) {
      #footer .footer-bottom {
          padding: 40px 70px;
      }
  }
  @media (max-width: 768px) {
      #footer .footer-top{
          padding-bottom: 40px;
      }
      #footer .footer-bottom {
          padding: 10px;
      }
    #footer .copyright,
    #footer .credits {
      float: none;
        line-height: 2;
      text-align: center;
    }
  
    #footer .credits {
      padding-top: 5px;
    }
  }
  
  
  
  /* 
  ---------------------------------------------
  responsive
  --------------------------------------------- 
  */
  
  
  @media (max-width: 992px) {
    form#contact {
      overflow: hidden;
    }
    .header-area .main-nav .logo h4 {
      font-size: 20px;
    }
    .main-banner .left-content {
      margin-right: 0px;
    }
     
    .main-banner {
      text-align: center;
      padding: 100px 10px 10px 10px;
    }
    .main-banner:after {
        height: 240vh;
  
   }
    .main-banner:before {
      display: none;
    }
    .main-banner .right-image {
      margin: 30px auto 0px auto;
      text-align: center;
    }
    .modules-item {
      margin-bottom: 45px;
    }
    .last-modules-item,
    .last-skill-item {
      margin-bottom: 0px !important;
    }
    .skill-item {
      margin-bottom: 30px;
    }
    .about-left-image img {
      margin-right: 0px;
      margin-bottom: 45px;;
    }
    .about-us:before{
          display: none;
      }
    .about-us:after{
          display: none;
      }
  
   
    .benefits-item {
      text-align: center;
      margin-bottom: 30px;
    }
      .benefits-item .icon {
      margin: 0 auto 30px auto;
    }
    .whyaurivue .naccs .menu div {
      font-size: 15px;
      font-weight: 500;
    }
    .whyaurivue-item {
      text-align: center;
    }
    .whyaurivue-item .icon {
      margin-top: 0px;
      margin-bottom: 30px;
    }
    .about-us .left-image {
      margin-right: 30px;
      margin-left: 30px;
      margin-bottom: 45px;
    }
    .blog-posts {
      margin-left: 0px;
      margin-top: 30px;
    }
    .post-item {
      margin-bottom: 100px;
    }
    .our-portfolio .owl-nav {
      display: none !important;
    }
    .contact-info {
      margin-top: 60px;
    }
    form#contact {
      padding: 45px;
    }
  }
  
  @media (max-width: 767px) {
   
      .main-banner{
          padding: 100px 10px;
      }
      .main-banner:after {
        content: '';
        background-image: url(../img/slider-left-dec1.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        opacity: 0.6;
        top: 0px;
        width: 372px;
        height: 240vh;
        z-index: 1;
      }
    .header-area .main-nav .logo h4 {
      font-size: 30px;
    }
    .header-area .main-nav .logo h4 img {
      max-width: 30px;
      margin-left: 5px;
    }
    .about-us, #features, .benefits, .whyaurivue{
          padding-top: 0;
      } 
    .main-banner .info-stat {
      margin-bottom: 15px;
    }
    .about-us .container{
        max-width: 90%;
      }
      
    .about-us .right-image img{
  /*        width: 100%;*/
          height: 100%;
      }
    .about-us:before, .about-us:after {
          display: none;
      }
    .modules:before {
      display: none;
  }
      #features .icon-boxes{
      z-index: 10000;
  } 
      #features .container{
          max-width: 90%;
      }
      #features{
          padding-bottom: 50px;
      }
      
      #features .section-heading{
          margin-bottom: -50px;
      }
      
      #features .row .icon-box{
          margin-bottom: 0px;
      }
      
      .benefits .container{
          max-width: 90%;
      }
    .benefits-item {
      text-align: center;
      padding: 30px;
    }
    .benefits-item .icon {
      float: none;
  /*    margin-right: 0px;*/
      margin-bottom: 15px;
    }
    .benefits-item .right-content {
      display: inline-block;
    }
    .benefits .naccs .menu div .thumb {
      padding: 5px;
    }
    .benefits .icon img {
      margin: 0px;
    }
    .modules, .whyaurivue, #contact{
          padding-top: 70px;
      }
      .modules .container{
          max-width: 90%;
      }
    .whyaurivue .row{
  /*    text-align: center;*/
      padding: 30px;
    }
    .our-portfolio .section-heading,
    .about-us .section-heading,
    .about-us .about-item,
    .about-us p,
    .about-us .main-green-button {
      text-align: center;
    }
  
    .free-quote form input {
      margin-left: 0px;
      padding: 0px 30px;
    }
    .free-quote form button {
      margin-left: 0px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 0px;
    }
    .blog-posts {
      margin-left: 0px;
      margin-top: 30px;
    }
    .post-item {
      margin-bottom: 30px;
    }
    .post-item .thumb img {
      max-width: 140px;
    }
    .post-item .right-content p {
      display: none;
    }
  
    .contact .section-heading p{
          width: 100%;
      }
    form#contact {
      padding: 30px;
    }
  }